.vscode/settings.json
# Ignore Node.js files
Backend/node_modules
Backend/.env

# Ignore Flutter files
Frontend/Brandify/build/
Frontend/Brandify/.dart_tool/
Frontend/Brandify/.flutter-plugins
Frontend/Brandify/pubspec.lock
Frontend/Brandify/.gitignore
Frontend/Brandify/linux/
Frontend/Brandify/macos/
Frontend/Brandify/windows/
